body {
    background-image: url('images/startMenu.jpeg');
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vw 0; /* 5% der Viewport-Breite oben und unten */
    background-color: #333;
    color: #fff;
    font-size: 10vw; /* 5% der Viewport-Breite als Schriftgröße */
}

label {
    margin: 5vw 0; /* 2% der Viewport-Breite oben und unten */
    font-size: 10vw; /* 3% der Viewport-Breite als Schriftgröße */
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    font-size: 5vw; /* 3% der Viewport-Breite als Schriftgröße */
    margin: 5vh 10px; /* 2% der Viewport-Höhe oben und unten */
}

